.container{
width: 90%;
height: 100vh;
margin: auto;    
display: flex;
flex-direction: column;
padding-top: 30px;
color: rgba(255, 255, 255, 0.651);
}
header .container #encrypt{ /*shu yerda shifrlash*/
display: none;
flex-direction: column;
}
header .container h5{
margin-bottom: 40px;
padding: 15px 0px;
border: 1px solid whitesmoke;
border-radius: 15px;
text-align: center;
box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.366);
}
header .container label{
font-size: 18px;
}
header .container textarea{
background-color: rgb(54, 58, 45);
color: rgba(255, 255, 255, 0.918);
margin-bottom: 15px;
padding: 10px 0px 0px 10px;
}

header .container textarea::placeholder{
color: rgb(149, 196, 207);    
}
header .container #calculate{
display: block;
/* margin-left: 150px; */
/* padding: 0px 0px 0px 0px; */
font-size: 13px;
text-align: center;
border-radius: 20px;
box-shadow: 1px 1px 15px 5px #ffffff;
border: 2px solid rgb(98, 180, 98);
cursor: pointer;
padding: 4px 4px;
}
header .container #erase{
display: block;
/* padding: 0px 0px 0px 0px; */
font-size: 13px;
text-align: center;
border-radius: 20px;
box-shadow: 1px 1px 15px 5px #ffffff;
border: 2px solid rgb(98, 180, 98);
cursor: pointer;
padding: 4px 4px;
}
header .container #encrypt #crypto-result {
margin-bottom: 20px;
font-size: 10px;
color: rgb(255, 255, 255);
background-color: rgb(54, 58, 45);
border-radius: 5px;
padding: 10px;
display: flex; 
flex-wrap: wrap;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header .container #decrypt{  /* shu yerdan decode qilish boshlandi*/
display: none;
flex-direction: column;
}

header .container #decypher{
display: block;
/* padding: 0px 0px 0px 0px; */
font-size: 13px;
text-align: center;
border-radius: 20px;
box-shadow: 1px 1px 15px 5px #ffffff;
border: 2px solid rgb(98, 180, 98);
cursor: pointer;
padding: 4px 4px;
}
header .container #erase2{
display: block;
/* padding: 0px 0px 0px 0px; */
font-size: 13px;
text-align: center;
border-radius: 20px;
box-shadow: 1px 1px 15px 5px #ffffff;
border: 2px solid rgb(98, 180, 98);
cursor: pointer;
padding: 4px 4px;
}
header .container #decrypt #decrypto-result {
font-size: 10px;
color: rgb(255, 255, 255);
background-color: rgb(54, 58, 45);
border-radius: 5px;
padding: 10px;
display: flex; 
flex-wrap: wrap;
margin-bottom: 20px;
}
.d-flex{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}
/*================#switch==================*/
header .container #switch{
text-align: center;
margin-top: 100px;
}
header .container #switch button{
padding: 10px;
margin-right: 15px;
border-radius: 20%;
border: none;
cursor: pointer;
background-color: #ffffff;
margin-bottom: 20px;
}
header .container #switch button:hover{
background-color: paleturquoise;
}
.copyText{
font-size: 15px;
border-radius: 20px;
box-shadow: 1px 1px 10px 5px #ffffff;
border: 2px solid rgb(98, 180, 98);
cursor: copy;
width: 70%;
padding: 3px 3px;
margin: auto;
}

/*========================media=========================*/
@media only screen and (max-width: 768px) {
.container{
width: 90%;
}
header .container h1{
color: rgba(255, 255, 255, 0.938);
font-size: 4vw;
border-color: rgb(0, 247, 255);
box-shadow: 0px 7px 10px 0px rgb(7, 7, 7); 
white-space: nowrap;
}

header .container #calculate{
width: 80px;    
margin-left: 10px;
border-radius: 10px;
border-color: rgb(58, 165, 160);
box-shadow: 0px 5px 10px 0px #7cb8c0;

}
header .container #erase{
width: 100px;
margin-left: 15px;
border-radius: 10px;
border-color: rgb(58, 165, 160);
box-shadow: 0px 5px 10px 0px #7cb8c0;

}
header .container #decrypt #decrypto-result{
font-size: 10px;
}
header .container #encrypt #crypto-result {
font-size: 10px;
}
header .container textarea{
font-size: 20px;
}
header .container label{
font-size: 23px;
}
/*======================de==================*/

header .container #decypher{
width: 100px;    
margin-left: 10px;
border-radius: 10px;
border-color: rgb(58, 165, 160);
box-shadow: 0px 5px 10px 0px #7cb8c0;
}
header .container #erase2{
width: 100px;
margin-left: 15px;
border-radius: 10px;
border-color: rgb(58, 165, 160);
box-shadow: 0px 5px 10px 0px #7cb8c0;
}

/*================#switch==================*/

.copyText{
padding: 5px 0px;
width: auto;
}

}
